<!DOCTYPE html>
<html lang="en">
<head>
	<title>Random Bird</title>
	</head>
	<body>
		<h1 class = "username">Random Bird!</h1>
		<img src = "../../Data/birds_train/117.Clay_colored_Sparrow/12.jpg">
	</body>
	<style>
		img {
			width: 500px;
			border-radius: 10px;
			float: left;
			margin-right: 10px;

		} 
		body {
			background-color:midnightblue;
		}
		.username{
			 color:bisque;
			 font-weight: bold;
			 font-family: 'Times New Roman', Times, serif;
		}
		.words{
			font-weight: lighter;
			color: lightgrey;
		}
	 </style>

</head>
</html>